# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# VS Code settings
.vscode/
*.code-workspace

# Operating System Files
.DS_Store
Thumbs.db
